<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>com.webService.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Edit</servlet-name>
  	<display-name>Edit</display-name>
  	<description></description>
  	<servlet-class>com.webService.Edit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>com.webService.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.webService.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edit</servlet-name>
  	<url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>
